<!DOCTYPE html>
<html ng-app="toDo">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="css/styles.css" />
</head>
<body>

<div ng-controller="ToDoController as todo">

	<form name="todoForm" ng-submit="todoForm.$valid && todo.addItem()" novalidate>
		Title: <input ng-model="todo.item.title" required /><br/>
		Description: <textarea ng-model="todo.item.description" required></textarea>
		<h1>You entered: {{todo.item.title}} {{todo.item.description}}</h1>
		<input type="submit" value="submit" />
	</form>

	<div ng-repeat="i in todo.items">
		<h1>{{i.title}}</h1>
		<h2>{{i.description}}</h2>

	<button ng-click="todo.remove($index)">Remove</button>
	</div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script type="text/javascript" src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="node_modules/angular/angular.js"></script>
<script type="text/javascript" src="app.js"></script>
</body>
</html>