<!DOCTYPE html>
<html ng-app="toDo">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.css" />
</head>
<body>

<div ng-controller="ToDoController as todo">
<form ng-submit=todo.addItem()>

Title: <input ng-model="todo.item.title"/><br/>
Description: <textarea ng-model="todo.item.description"></textarea>
<h1>You entered: {{todo.item.title}} {{todo.item.description}}</h1>
 <input type="submit" value="submit" />
 </form>
<!-- 	<div ng-repeat="item in todo.items">
		<h1>{{item.title}}</h1>
		<h2>{{item.description}}</h2>

		<button ng-click="">Edit</button>
		<button ng-click="">Remove</button>
	</div>

	<form name="itemForm" ng-submit="todo.addReview">

		<h3>title:</h3>
		<textarea ng-model="todo.newItem.title"></textarea>

		<h3>Description:</h3>
		<textarea ng-model="todo.newItem.description"></textarea>

		<input type="submit" value="Submit" />

	</form> -->

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script type="text/javascript" src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="node_modules/angular/angular.js"></script>
<script type="text/javascript" src="app.js"></script>
</body>
</html>